<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>IOT QVT Led et temperature | &micro;Cast</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href ="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href ="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
   
   
   <div class="site-wrapper">
		<div class ="site-wrapper-inner">
			<div class = "cover-container">
				<div class ="inner cover">
					<h1 class ="cover-heading">IOT QVT - La led</h1>
					<div class="onoffswitch" style="margin:0px auto;">
						<div class="switch demo3">
							<input type="checkbox" id="myonoffswitch">
							<label><i></i></label>
						</div>	
					</div>
				</div>
			</div>
		</div>		
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
	<script src="//cdn.socket.io/socket.io-1.0.4.js"></script>
 
    <script type="text/javascript">
	
		var socket = io.connect('/');
	
		$("#myonoffswitch").change(function(){
		
		    alert("State changed");
			socket.emit("stateChanged",this.checked);	
		});
		
    </script>

  </body>
</html>
